.body {
  background-color: rgb(215, 231, 189);
  text-align: center;
  border: 1px solid black;
}

.divtables {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  margin: 2rem;
  border-radius: 10px;
}

table {
  background-color: rgb(236, 230, 230);
  border-collapse: collapse;
  border: 1px solid green;
  border-radius: 10px;
  margin: 3rem;

}

.h1 {
  border: green;
}

.tableBody {
  border: 1px solid rgb(12, 11, 11);
  border-radius: 10px;
}
td {
  margin: 2rem;
}
